.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.matrix {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
}

.box {
  width: 100px;
  height: 100px;
  background: rgb(34, 193, 195);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #090909;
  border-radius: 15px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}